In [16]:
import pandas as pd
import numpy as np

from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [32]:
# load data
df = pd.read_csv('/afa2e701598d20110228.csv', sep=';')
df

      id        date    NH4  BSK5  ...    NO2     SO4    PO4       CL
0      1  17.02.2000  0.330  2.77  ...  0.057  154.00  0.454   289.50
1      1  11.05.2000  0.044  3.00  ...  0.034  352.00  0.090  1792.00
2      1  11.09.2000  0.032  2.10  ...  0.173  416.00  0.200  2509.00
3      1  13.12.2000  0.170  2.23  ...  0.099  275.20  0.377  1264.00
4      1  02.03.2001  0.000  3.03  ...  0.065  281.60  0.134  1462.00
...   ..         ...    ...   ...  ...    ...     ...    ...      ...
2856  22  06.10.2020  0.046  2.69  ...  0.038  160.00  0.726    77.85
2857  22  27.10.2020  0.000  1.52  ...  0.031  147.20  0.634    71.95
2858  22  03.12.2020  0.034  0.29  ...  0.042  209.92  0.484    61.17
2859  22  12.01.2021  0.000  2.10  ...  0.034  121.60  0.424    63.49
2860  22  10.02.2021  0.000  1.78  ...  0.033  134.40  0.582    66.31

[2861 rows x 11 columns]

In [37]:
#date is object -date format
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%y')
df

ValueError: unconverted data remains when parsing with format "%d.%m.%y": "00", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   object
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 246.0+ KB

In [20]:
df.shape

(2861, 11)

In [22]:
# Statistics
df.describe().T

            count       mean         std  ...     50%       75%       max
id         2861.0  12.397064    6.084226  ...  14.000  16.00000    22.000
NH4        2858.0   0.758734    2.486247  ...   0.220   0.50000    39.427
BSK5       2860.0   4.316182    2.973997  ...   3.800   5.80000    50.900
Suspended  2845.0  12.931905   16.543097  ...  10.000  15.00000   595.000
O2         2858.0   9.508902    4.428260  ...   8.995  11.52000    90.000
NO3        2860.0   4.316846    6.881188  ...   2.800   5.58250   133.400
NO2        2858.0   0.246128    2.182777  ...   0.059   0.12575   109.000
SO4        2812.0  59.362313   96.582641  ...  37.800  64.64000  3573.400
PO4        2833.0   0.418626    0.771326  ...   0.270   0.47000    13.879
CL         2812.0  93.731991  394.512184  ...  33.900  45.60750  5615.280

[10 rows x 8 columns]

In [23]:
#missing value
df.isnull().sum()

id            0
date          0
NH4           3
BSK5          1
Suspended    16
O2            3
NO3           1
NO2           3
SO4          49
PO4          28
CL           49
dtype: int64

In [36]:
#date is object -date format
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%y')
df

ValueError: unconverted data remains when parsing with format "%d.%m.%y": "00", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       0 non-null      datetime64[ns]
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(1)
memory usage: 246.0 KB

In [30]:
df =df.sort_values(by='id')
df.head()

    id date    NH4  BSK5  Suspended     O2    NO3    NO2    SO4    PO4       CL
0    1  NaT  0.330  2.77       12.0  12.30   9.50  0.057  154.0  0.454   289.50
1    1  NaT  0.044  3.00       51.6  14.61  17.75  0.034  352.0  0.090  1792.00
2    1  NaT  0.032  2.10       24.5   9.87  13.80  0.173  416.0  0.200  2509.00
3    1  NaT  0.170  2.23       35.6  12.40  17.13  0.099  275.2  0.377  1264.00
52   1  NaT  0.177  1.85       69.6  13.27   1.03  0.042  371.2  0.240  2155.36

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861 entries, 0 to 2860
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2861 non-null   int64
 1   date       2861 non-null   object
 2   NH4        2858 non-null   float64
 3   BSK5       2860 non-null   float64
 4   Suspended  2845 non-null   float64
 5   O2         2858 non-null   float64
 6   NO3        2860 non-null   float64
 7   NO2        2858 non-null   float64
 8   SO4        2812 non-null   float64
 9   PO4        2833 non-null   float64
 10  CL         2812 non-null   float64
dtypes: float64(9), int64(1), object(1)
memory usage: 246.0+ KB

In [39]:
df=df.sort_values(by=['id','date'])
df.head()

    id        date    NH4  BSK5  Suspended  ...    NO3    NO2    SO4    PO4       CL
43   1  01.12.2010  0.291  3.27       16.7  ...  59.20  0.090  278.4  0.370  1375.46
4    1  02.03.2001  0.000  3.03       48.8  ...  10.00  0.065  281.6  0.134  1462.00
41   1  02.06.2010  0.290  3.52       37.2  ...  57.87  0.210  268.8  0.240  1120.20
22   1  02.09.2005  0.000  3.68       28.5  ...  15.51  0.033  422.4  0.900  2063.80
62   1  02.09.2015  0.035  6.28      104.8  ...   4.68  0.076  694.4  0.530  5615.28

[5 rows x 11 columns]

In [40]:
df['year'] = df['date'].dt.year
df['month'] =df['date'].dt.month

AttributeError: Can only use .dt accessor with datetimelike values

In [41]:
df.columns

Index(['id', 'date', 'NH4', 'BSK5', 'Suspended', 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL'],
      dtype='object')

In [ ]:
pollutants = [ 'O2', 'NO3', 'NO2', 'SO4',
       'PO4', 'CL']